
<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3>Intents</h3>
        </div>        
    </div>
</div>
<div class="row x_content"> 
    <div class="row" *ngIf="successMsg != null">
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" 
            (click)="removeSuccessAlert()">
                <span aria-hidden="true">×</span>
            </button>
            {{successMsg}}
        </div>
    </div>
    <div class="row" *ngIf="errorMessages.length > 0">
        <div class="alert alert-danger alert-dismissible fade in" role="alert"
        *ngFor="let error of errorMessages; let i=index">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeAlert(i)">
                <span aria-hidden="true">×</span>
            </button>
            {{error}}
        </div>
    </div>        
    <div class="x_panel col-md-8 col-sm-8 col-xs-12">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-2 col-sm-2">
                <a class="icon-link btn btn-success" (click)="addNewIntent()"><i class="fa fa-plus fa-lg" ></i> New intent</a>
            </div>
        </div>
        <div class="x_content col-md-8 col-sm-8 col-xs-8">
            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel col-md-12 col-sm-12" *ngFor="let intent of intents">
                    <a class="panel-heading col-md-12 col-sm-12" role="tab" id="headingOnne" data-toggle="collapse" data-parent="#accordion" href="#collapse{{intent._id}}" 
                    aria-expanded="false" attr.aria-coltrols="collapse{{intent._id}}">
                        <div class="accordion-title">
                            <div>
                            <h2 *ngIf="!intent.isInEditMode">{{intent.name}}</h2>
                            <input *ngIf="intent.isInEditMode" type="text"  [(ngModel)]="intent.name"/>
                            </div>
                            <ul class="nav navbar-right panel_buttons">
                                <li (click)="$event.stopPropagation();">                                
                                    <a (click)="editIntent(intent); $event.preventDefault();" class="btn btn-primary"
                                    *ngIf="!intent.isInEditMode" >
                                        <i class="fa fa-pencil fa-lg"></i>
                                        Edit
                                    </a>
                                    <a (click)="saveIntentChanges(intent); $event.preventDefault();" class="btn btn-success"
                                    *ngIf="intent.isInEditMode" >
                                        <i class="fa fa-check fa-lg"></i>
                                        Save
                                    </a>
                                </li>
                                <li (click)="$event.stopPropagation();">
                                    <a (click)="removeIntent(intent); $event.preventDefault();" class="btn btn-danger"
                                    *ngIf="!intent.isInEditMode">
                                        <i  class="fa fa-trash  fa-lg"></i>
                                        Delete
                                    </a>
                                    <a (click)="closeEditIntent(intent); $event.preventDefault();" class="btn btn-danger"
                                    *ngIf="intent.isInEditMode">
                                        <i *ngIf="intent.isInEditMode fa-lg" class="fa fa-close"></i>
                                        Cancel
                                    </a>
                                </li>
                            </ul>  
                        </div>              
                    </a>   
                    <div id="collapse{{intent._id}}" class="panel-collapse collapse in col-md-12 col-sm-12" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
                        <div class="pane_body">
                            <div class="col-md-12 col-sm-12" *ngIf="intent.isInEditMode">
                                <div class="col-md-2 col-sm-2">
                                    <a class="icon-link btn btn-success" (click)="addNewQuestion(intent)"><i class="fa fa-plus fa-lg" ></i> New Question</a>
                                </div>
                            </div>
                            <ul class="list-unstyled timeline">
                                <li *ngFor="let question of intent.questions" >
                                    <div class="block col-md-8 col-sm-12" *ngIf="!question.marked_for_deletion">
                                        <div class="block_content col-md-12 col-sm-12">
                                            <div class="col-md-10 col-sm-10">
                                                <h2 class="title">                                       
                                                <a *ngIf="!intent.isInEditMode">{{question.question}}</a>
                                                <input *ngIf="intent.isInEditMode" type="text" class="question-input"
                                                    [(ngModel)]="question.question" /> 
                                                </h2>
                                            </div>
                                            <div class="col-md-2 col-sm-2 ">
                                                <a class="icon-link" *ngIf="intent.isInEditMode" 
                                                (click)="deleteQuestion(question, intent)">
                                                    <i  class="fa fa-trash fa-lg red-icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>