
<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3>Conversation</h3>
        </div>
        
    </div>
</div>
<div class="row x_content">
     <div class="row" *ngIf="saveResults != null">
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" 
            (click)="removeSuccessAlert()">
                <span aria-hidden="true">×</span>
            </button>
            <span>Successful updates: {{saveResults.successfulUpdates}}</span><br/>
            <span>Successful deletes: {{saveResults.successfulDeletes}}</span><br/>
            <span>Failed updates: {{saveResults.failedUpdates}}</span><br/>
            <span>Failed deletes: {{saveResults.failedDeletes}}</span><br/>
        </div>
    </div>
    <div class="row" *ngIf="errorMessages.length > 0">
        <div class="alert alert-danger alert-dismissible fade in" role="alert"
        *ngFor="let error of errorMessages; let i=index">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeAlert(i)">
                <span aria-hidden="true">×</span>
            </button>
            {{error}}
        </div>
    </div>     
    <div class="x_panel"> 
        <div class="col-md-12 col-sm-12">
                <ul class="nav navbar-right panel_buttons">
                    <li *ngIf="!editMode">  
                        <a class="icon-link btn btn-primary" (click)="editConversation()">
                            <i class="fa fa-pencil fa-lg" ></i> Edit Dialog</a>
                    </li>
                    <li *ngIf="editMode">  
                        <a class="icon-link btn btn-success" (click)="saveConversation()">
                            <i class="fa fa-check fa-lg" ></i> Save Changes</a>
                    </li>
                     <li *ngIf="editMode">  
                        <a class="icon-link btn btn-danger" (click)="cancelEdit()">
                            <i class="fa fa-cancel fa-lg" ></i> Cancel</a>
                    </li>
                </ul>
        </div>
        <div class="col-md-12 col-sm-12">
            <conversation-node [node]="conversationRoot" *ngIf="conversationRoot != null" 
            [editMode]="editMode" (onNodeRemoved)="onSomeNodeRemoved($event)" (onNodeAdded)="onSomeNodeAdded($event)">
            </conversation-node>
        </div>
    </div>
</div>