<div [style.padding-left]="node.treeLevel*40 + 'px'">
    <div class="conversation-node" *ngIf="!node.markedForDeletion"> 
        <div [ngClass]="{'node-container': node.parent_node_id !='0'}">
            <div class="node animated flipInY ">    
                <div class="node-title" *ngIf="node.parent_node_id !='0'">
                     <div *ngIf="editMode">
                         <ul class="nav navbar-right panel_buttons">
                             <li>
                                <a class="icon-link green-icon" (click)="addChildNode()">
                                    <i class="fa fa-plus fa-lg" ></i></a>
                             </li>
                             <li>
                                <a class="icon-link red-icon" (click)="removeNode()">
                                    <i class="fa fa-trash fa-lg" ></i></a>
                             </li>
                             </ul>
                    </div>
                    <div>
                        <b>Node Type </b>
                        <span *ngIf="!editMode">{{node.type}}</span>
                        <select *ngIf="editMode" [(ngModel)]="node.type" class="node-select" >
                             <option *ngFor="let t of node_types" [ngValue]="t.value">{{t.value}}</option>
                          </select>
                    </div>
                    <div *ngIf="node.type == 'intent'">
                       <h2 *ngIf="!editMode && node.associatedIntent "> <b>#</b>{{node.associatedIntent.name}}</h2>
                       <div *ngIf="editMode">
                           <b>#</b>
                           <select [(ngModel)]="node.result_id" class="node-select" (ngModelChange)="onIntentChanged($event)">
                             <option *ngFor="let i of intents" [ngValue]="i._id">{{i.name}}</option>
                          </select>
                       </div>
                    </div>
                    <div *ngIf="node.type == 'entity'">
                        <h2 *ngIf="!editMode && node.associatedEntity"><b>@</b>{{node.associatedEntity.name}}</h2>
                        <div *ngIf="editMode">
                           <b>#</b>
                           <select [(ngModel)]="node.result_id" class="node-select" (ngModelChange)="onEntityChanged($event)">
                             <option *ngFor="let e of entities" [ngValue]="e._id">{{e.name}}</option>
                          </select>
                       </div>
                    </div>
                    <h2 *ngIf="node.parent_node_id == '0'">Conversation starts here</h2>
                    
                    <div>
                        <label>Response Type</label>
                        <select *ngIf="editMode" [(ngModel)]="node.response_type" class="node-select">
                             <option *ngFor="let type of responseTypes" [ngValue]="type.value">{{type.value}}</option>
                        </select>
                        <label *ngIf="editMode && node.response_type == 'external'">External data source</label>
                        <select *ngIf="editMode && node.response_type == 'external'" [(ngModel)]="node.response_msg_id">
                             <option *ngFor="let source of externalSources" [ngValue]="source._id">{{source.name}}</option>
                          </select>
                        <p *ngIf="!editMode"> {{node.response}}</p>
                        <div class="node-select">
                            <textarea *ngIf="editMode" [(ngModel)]="node.response" rows="2"></textarea>
                        </div>
                    </div>                   
                </div>                
                <div *ngIf="node.parent_node_id =='0'">
                    <div *ngIf="editMode">
                         <ul class="nav navbar-right panel_buttons">
                             <li>
                                <a class="icon-link green-icon" (click)="addChildNode()">
                                    <i class="fa fa-plus fa-lg" ></i></a>
                             </li>
                         </ul>
                    </div>
                    <h2>Conversation starts here</h2>
                </div>
            </div>
        </div>
        <div>
            <ul class="list-unstyled" *ngIf="node.childNodes.length !=0">
                <li *ngFor="let child of node.childNodes" class="node-list-item">
                    <conversation-node [node]="child" [editMode]="editMode" 
                    (onNodeRemoved)="onChildNodeRemoved($event)" (onNodeAdded)="onChildNodeAdded($event)">                        
                    </conversation-node>
                </li>
            </ul>
        </div>
    </div>
</div>