
<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3>External integrations</h3>
        </div>
        
    </div>
</div>
<div class="row x_content"> 
    <div class="row" *ngIf="successfulMsg != null">
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" 
            (click)="removeSuccessAlert()">
                <span aria-hidden="true">×</span>
            </button>
            {{successfulMsg}}
        </div>
    </div>
    <div class="row" *ngIf="errorMessages.length > 0">
        <div class="alert alert-danger alert-dismissible fade in" role="alert"
        *ngFor="let error of errorMessages; let i=index">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeAlert(i)">
                <span aria-hidden="true">×</span>
            </button>
            {{error}}
        </div>
    </div>      
     <div class="x_panel col-md-8 col-sm-8 col-xs-12">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-2 col-sm-2">
                <a class="icon-link btn btn-success" (click)="addNewIntegration()"><i class="fa fa-plus fa-lg" ></i> New integration</a>
            </div>
        </div>
        <div class="x_content col-md-8 col-sm-8 col-xs-8">
            <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>POST Api Url</th>
                        <th>POST Message</th>
                        <th>Type</th>                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let integration of integrations">
                        <td style="width:60px;">                            
                            <ul class="nav navbar-left panel_buttons">
                                <li>
                                    <a (click)="editIntegration(integration);" *ngIf="!integration.isInEditMode" class="btn btn-primary" >
                                        <i class="fa fa-pencil fa-lg"></i>
                                    </a>
                                    <a (click)="saveIntegrationChanges(integration);" *ngIf="integration.isInEditMode" class="btn btn-success" >
                                        <i class="fa fa-check fa-lg"></i>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="removeIntegration(integration);" *ngIf="!integration.isInEditMode" class="btn btn-danger">                                    
                                        <i class="fa fa-trash  fa-lg"></i>
                                    </a>
                                    <a (click)="closeEditIntegration(integration);" *ngIf="integration.isInEditMode" class="btn btn-danger">                                    
                                        <i class="fa fa-close"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <span *ngIf="!integration.isInEditMode">{{integration.name}}</span>
                            <input *ngIf="integration.isInEditMode" [(ngModel)]="integration.name"/> 
                        </td>
                        <td>
                            <span *ngIf="!integration.isInEditMode">{{integration.external_post_api_url}}</span>
                            <textarea *ngIf="integration.isInEditMode" [(ngModel)]="integration.external_post_api_url"></textarea>
                        </td>
                         <td>
                            <span *ngIf="!integration.isInEditMode">{{integration.post_message}}</span>
                            <textarea *ngIf="integration.isInEditMode" [(ngModel)]="integration.post_message" ></textarea>
                        </td>
                        <td> 
                           <span >{{integration.type}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>            
        </div>
     </div>
</div>