
<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3>Entities</h3>
        </div>
        
    </div>
</div>
<div class="row x_content"> 
    <div class="row" *ngIf="successfulMsg != null">
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" 
            (click)="removeSuccessAlert()">
                <span aria-hidden="true">×</span>
            </button>
            {{successfulMsg}}
        </div>
    </div>
    <div class="row" *ngIf="errorMessages.length > 0">
        <div class="alert alert-danger alert-dismissible fade in" role="alert"
        *ngFor="let error of errorMessages; let i=index">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeAlert(i)">
                <span aria-hidden="true">×</span>
            </button>
            {{error}}
        </div>
    </div>      
     <div class="x_panel col-md-8 col-sm-8 col-xs-12">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-2 col-sm-2">
                <a class="icon-link btn btn-success" (click)="addNewEntity()"><i class="fa fa-plus fa-lg" ></i> New entity</a>
            </div>
        </div>
        <div class="x_content col-md-8 col-sm-8 col-xs-8">
            <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Entity Name</th>
                        <th>Is Value Restricted</th>
                        <th>Values</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let entity of entities">
                        <td style="width:60px;">                            
                            <ul class="nav navbar-left panel_buttons">
                                <li>
                                    <a (click)="editEntity(entity);" *ngIf="!entity.isInEditMode" class="btn btn-primary" >
                                        <i class="fa fa-pencil fa-lg"></i>
                                    </a>
                                    <a (click)="saveEntityChanges(entity);" *ngIf="entity.isInEditMode" class="btn btn-success" >
                                        <i class="fa fa-check fa-lg"></i>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="removeEntity(entity);" *ngIf="!entity.isInEditMode" class="btn btn-danger">                                    
                                        <i class="fa fa-trash  fa-lg"></i>
                                    </a>
                                    <a (click)="closeEditEntity(entity);" *ngIf="entity.isInEditMode" class="btn btn-danger">                                    
                                        <i class="fa fa-close"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <span *ngIf="!entity.isInEditMode">{{entity.name}}</span>
                            <input *ngIf="entity.isInEditMode" [(ngModel)]="entity.name"/> 
                        </td>
                        <td>
                            <span *ngIf="!entity.isInEditMode">
                                <i class="fa fa-check fa-lg green-icon" *ngIf="entity.is_value_restricted"></i>
                                <i class="fa fa-close fa-lg green-icon" *ngIf="!entity.is_value_restricted"></i>
                            </span>
                          <div class="checkbox"*ngIf="entity.isInEditMode">
                            <label>
                                <input type="checkbox" autocomplete="off" [(ngModel)]="entity.is_value_restricted"
                                [checked]="entity.is_value_restricted">
                            </label>
                        </div>
                        </td>
                        <td> 
                            <div *ngIf="entity.is_value_restricted">
                                <a class="icon-link" (click)="addNewValue(entity)" *ngIf="entity.isInEditMode">
                                    <i class="fa fa-plus green-icon" ></i></a>
                                <ul class="list-unstyled">
                                    <li *ngFor="let x of entity.values_array;  let i = index;">
                                        <span *ngIf="!entity.isInEditMode">{{x.value}}</span>
                                        <input class="values" *ngIf="entity.isInEditMode" type="text" [(ngModel)]="x.value" />
                                        <a class="icon-link" (click)="removeValue(i, entity)" *ngIf="entity.isInEditMode">
                                            <i class="fa fa-trash red-icon" ></i></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>            
        </div>
     </div>
</div>