<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3>Chatbot Dialog Window</h3>
        </div>
        
    </div>
</div>
<div class="row x_content">
    <div class="row" *ngIf="successfulMsg != null">
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" 
            (click)="removeSuccessAlert()">
                <span aria-hidden="true">×</span>
            </button>
            {{successfulMsg}}
        </div>
    </div>
    <div class="row" *ngIf="errorMessages.length > 0">
        <div class="alert alert-danger alert-dismissible fade in" role="alert"
        *ngFor="let error of errorMessages; let i=index">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeAlert(i)">
                <span aria-hidden="true">×</span>
            </button>
            {{error}}
        </div>
    </div>    
    <div class="col-md-12 col-sm-12">
                <ul class="nav navbar-right panel_buttons">
                    <li *ngIf="isResetting">
                        <div class="loader"></div>
                    </li>
                    <li>  
                        <a class="icon-link btn btn-primary" (click)="resetChatbot()">
                            <i class="fa fa-refresh fa-lg" ></i>  Reset chatbot</a>
                    </li>
                </ul>
    </div>
    <div class="col-sm-4 col-sm-offset-1 frame">
        <ul class="messages-list">
            <li style="width:100%" *ngFor="let msg of messages">
                <div *ngIf="msg.sender!='chatbot'">
                    <div class="msj macro">
                        <div class="avatar">
                            <img class="img-circle" style="width:100%;" src="./dist/images/admin-avatar.png" />
                        </div>
                        <div class="text text-l">
                            <p>{{msg.message}}</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="msg.sender == 'chatbot'">
                    <div class="msj-rta macro">
                        <div class="text text-r">
                            <p>{{msg.message}}</p>
                        </div>
                        <div class="avatar" style="padding:0px 0px 0px 10px !important">
                            <img class="img-circle" style="width:100%;" src="./dist/images/chatbot-avatar.png" />
                        </div> 
                    </div> 
                </div>
            </li>
        </ul>
        <div class="frame-bottom">
            <div class="msj-bottom macro" style="margin:auto">                        
                <div class="text text-r" style="background:whitesmoke !important">
                    <input class="mytext" placeholder="Type a message" [(ngModel)]="newMessage"/>
                    
                </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
            </div>            
                <a class="link-icon" (click)="sendMessage()" [attr.disabled]="isResetting">
                    <i class="fa fa-send fa-lg send-icon"></i></a>
        </div>
    </div>        
</div>