    
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a routerLink="/" class="site_title">
                            <span>Botsome Logo</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Administrator</h3>
                            <ul class="nav side-menu">
                                <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard </a></li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Administration <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a routerLink="/intents">Intents</a></li>
                                        <li><a routerLink="/entities">Entities</a></li>
                                        <li><a routerLink="/integrations">External Integrations</a></li>
                                        <li><a routerLink="/dialog">Conversation Dialog</a></li>
                                    </ul>
                                </li> 
                                <li>
                                    <a routerLink="/chat"><i class="fa fa-comments-o"></i> Chat </a>
                                </li>                                 
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>
            </div>

                <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                            <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            
            <!-- page content -->
            <div class="right_col" role="main" style="min-height: 1148px;">
                <router-outlet></router-outlet>
            </div>

            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Botsome Administration Dashboard
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
