<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3>Dashboard</h3>
        </div>
        
    </div>
</div>
<div class="row x_content">   
    <h2>Weekly reports</h2>
    <div class="x_panel col-md-4 col-sm-6 col-xs-6" *ngIf="messagesCountChart">
        <chart [type]="messagesCountChart.type" [data]="messagesCountChart.data" 
        [options]="messagesCountChart.options" ></chart>
    </div>
</div>

